<script
  src="https://kit.fontawesome.com/3fe3c09a7c.js"
  crossorigin="anonymous"
></script>

<header class="header">
  <nav>
    <ul>
      <a href="/"
        ><li><i class="fa-solid fa-house"></i> Index</li></a
      >
      <a href="/create"
        ><li><i class="fa-solid fa-circle-plus"></i> Create</li></a
      >
    </ul>
    <div class="right-icons">
      <ul>
        <li>
          <a href="https://www.facebook.com/AmaroRibeiro1995"
            ><i class="fa fa-facebook"></i
          ></a>
        </li>
        <li>
          <a href="https://github.com/Amaro13"><i class="fa fa-github"></i></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/amaroribeiro/"
            ><i class="fa fa-linkedin"></i
          ></a>
        </li>
      </ul>
    </div>
  </nav>
</header>
